* {
  box-sizing: border-box;
}

body {
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Silkscreen', cursive;
}

.pokedex {
  background-color: #eee;
  width: 750px;
  height: 500px;
  display: flex;
  border-radius: 3%;
}

.pokemon {
  width: 65%;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.pokemons-list {
  width: 35%;
  overflow-y: scroll;
}

.pokemons-list>div {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.2em;
}

.pokemons-list>div:hover {
  background-color: #ddd;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.name {
  font-size: 2em;
  margin: 12px 0;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.tag {
  padding: 0px 10px;
  border-radius: 7%;
  position: relative;
}

.pokemon-img {
  width: 150px;
}

.about-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.about {
  width: 60%;
}

.stat-bar {
  width: 100%;
  background-color: #ddd;
  border-radius: 3em;
}

.stat {
  text-align: right;
  color: white;
  border-radius: 3em;
}

.stats>p {
  margin: 10px 0;
}

.stats>h2 {
  margin: 15px 0;
}