* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(69, 86, 102, 1) 0%, rgba(34, 34, 34, 1) 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Silkscreen', cursive;
  color: #0e1111;
  padding-top: 1em;
}

.pokedex {
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  width: 55em;
  height: 38em;
  display: flex;
  border-radius: 16px;
  box-shadow:
    inset 0 1px 1px hsl(0deg 0% 0% / 0.075),
    inset 0 2px 2px hsl(0deg 0% 0% / 0.075),
    inset 0 4px 4px hsl(0deg 0% 0% / 0.075),
    inset 0 8px 8px hsl(0deg 0% 0% / 0.075),
    inset 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.pokemon {
  width: 65%;
  overflow-y: auto;
  overflow-x: hidden;
}

.pokemons-list {
  width: 35%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 30px;
  position: relative;
}

.pokemons-list::-webkit-scrollbar {
  display: none;
}

.pokemon__info {
  padding: 0 1em 1em 1em;
}

.pokemons-list__list>div,
.fav-list-item,
.fight-list>div {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.2em;
}

.fav-list-item {
  justify-content: space-between;
  padding-right: 0.5em;
}

.fav-title {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
}

.pokemons-list__list>div:hover,
.fav-list-item:hover,
.fight-list>div:hover {
  background-color: #ddd;
}

.favorites-list,
.favorites-fight-list {
  border-bottom: 4px #cdd2d2 dashed;
}

.pokemons-list__list {
  display: none
}


.pokemons-list__list.active {
  display: block
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.name {
  font-size: 2em;
  margin: 12px 0;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.tag {
  padding: 0px 10px;
  border-radius: 7%;
  position: relative;
}

.pokemon-img {
  width: 150px;
}

.about-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.about {
  width: 60%;
}

.stat-bar {
  width: 100%;
  background-color: #ddd;
  border-radius: 3em;
}

.stat {
  text-align: right;
  color: white;
  border-radius: 3em;
  box-shadow:
    inset 0 1px 1px hsl(0deg 0% 0% / 0.075),
    inset 0 2px 2px hsl(0deg 0% 0% / 0.075),
    inset 0 4px 4px hsl(0deg 0% 0% / 0.075),
    inset 0 8px 8px hsl(0deg 0% 0% / 0.075),
    inset 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.stats>p {
  margin: 10px 0;
}

.stats>h2 {
  margin: 15px 0;
}

.search {
  width: 100%;
  height: 40px;
  top: 0px;
  border: 0.2em solid #ddd;
  border-radius: 8px;
  background-color: #FFFDFA;
  position: sticky;
  font-family: 'Silkscreen', cursive;
  font-size: 0.9em;
  box-shadow:
    inset 0 1px 1px hsl(0deg 0% 0% / 0.075),
    inset 0 2px 2px hsl(0deg 0% 0% / 0.075),
    inset 0 4px 4px hsl(0deg 0% 0% / 0.075),
    inset 0 8px 8px hsl(0deg 0% 0% / 0.075),
    inset 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.additional-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.loader {
  display: none;
}

.loader.active {
  display: block;
  position: absolute;
  left: 30%;
  top: 45%;
}

.loader-pokemon {
  display: none;
}

.loader-pokemon.active {
  font-size: 1.5em;
  display: block;
  position: absolute;
  left: 33%;
  top: 38%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  width: 8em;
  text-align: center;
  height: 3em;
  width: 60%;
  transition: 0.4s;
  background-color: rgb(119, 122, 141);
  color: #FFFDFA;
  box-shadow:
    inset 0 1px 1px hsl(0deg 0% 0% / 0.075),
    inset 0 2px 2px hsl(0deg 0% 0% / 0.075),
    inset 0 4px 4px hsl(0deg 0% 0% / 0.075),
    inset 0 8px 8px hsl(0deg 0% 0% / 0.075),
    inset 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.menu-btn:hover {
  background-color: #61527e;
}

.menu-btn-1 {
  border-radius: 16px 0 0;
}

.menu-btn-1.active {
  color: #0e1111;
  background-color: #FFDEE9;
  background-image: linear-gradient(180deg, #FFDEE9 0%, #B5FFFC 100%);
  border-radius: 16px 0 0;
}

.menu-btn-2.active,
.menu-btn-3.active,
.menu-btn-4.active {
  color: #0e1111;
  background-color: #FFDEE9;
  background-image: linear-gradient(180deg, #FFDEE9 0%, #B5FFFC 100%);
}

.menu-btn>p {
  margin: 0;
}

.pokemon__evol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em 2em;
  margin: 0 auto;
}

.chain-item-img {
  cursor: pointer;
}

.abilities {
  padding: 1em;
}

.ability-table,
th,
td {
  border: 2px solid #F1E7D2;
  border-collapse: collapse;
  font-weight: normal;
  border-radius: 8px;
}

th,
td {
  background-color: #d2d2d2;
  border-radius: 8px;
}

.favorite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.fav-btn {
  cursor: pointer;
  filter: contrast(1%);
  transition: 0.3s;
}

.fav-btn.active {
  filter: none;
}

.favorite>p {
  font-size: 12px;
  margin: 0;
}

.battleground-container {
  width: 100%;
  height: 270px;
  margin-top: 10px;
  background-image: url(./images/battleground.jpg);
  background-size: contain;
}

.fighter1-container,
.fighter2-container {
  position: relative;
}

.fighter1-container {
  left: 20%;
  top: 50%;
}

.fighter1-img {
  transform: scale(1.4);
  filter: drop-shadow(6px -1px 0px rgba(32, 32, 32, 0.435));
}

.fighter2-img {
  transform: scale(0.8);
  filter: drop-shadow(6px -1px 0px rgba(32, 32, 32, 0.435));
}

.fighter2-container {
  left: 55%;
  bottom: 10%;
}

.fight-res {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}